html, body
{
	padding: 0;
	margin: 0;
}
body
{
	background-color: #fff;
	font-family: Arial, Helvetica, Verdana;
	font-size: 14px;
	line-height: 22px;
	color: #000;
	position: relative;
	-webkit-text-size-adjust: none;
}
body *
{
	text-shadow: none;
}
h1, h2, h3, h4, h5, h6
{
	line-height: 1;
	font-weight: bold;
	margin: 20px 0 10px 0;
}
h1, h2, h3
{
	font-size: 18px;
}
h4, h5, h6
{
	font-size: 16px;
}
p
{
	margin: 0 0 10px 0;
}
a, a:link, a:active, a:visited, a:hover
{
	color: inherit;
	text-decoration: underline;
}

nav:not(.mm-menu)
{
	display: none;
}

.header,
.content,
.footer
{
	text-align: center;
}
.header,
.footer
{
	background: #6c6499;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	line-height: 40px;


	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	padding: 0 50px;
}
.header.fixed
{
	position: fixed;
	top: 0;
	left: 0;
}
.footer.fixed
{
	position: fixed;
	bottom: 0;
	left: 0;
}
.header a
{
	display: block;
	width: 28px;
	height: 18px;
	padding: 11px;
	position: absolute;
	top: 0;
	left: 0;
}
.header a:before,
.header a:after
{
	content: '';
	display: block;
	background: #fff;
	height: 2px;
}
.header a span
{
	background: #fff;
	display: block;
	height: 2px;
	margin: 6px 0;
}
.content
{
	padding: 150px 50px 50px 50px;
}
.schedule{	font-family: "Verdana", Geneva, sans-serif;
						text-align: center;

					}
	caption
	{
		font-size: 30px;
	}
	table
	{	table-layout: fixed;
    width: 500px;
		border-collapse: collapse;
   	border-spacing: 0;
	}

	table td {
        /*width: 50%;
				border: 1px solid black;*/
				width: 75px;
    }
	table,th,td
 	{	border: 2px solid black;
 		border-collapse: collapse;
		text-align: center;
	}
	th,td
	{
		padding:25px;
	}
	th
	{
     	background-color: #92a8d1;
    }
    td:first-child{
    	font-weight: bold;
    }

	tr:nth-child(even)
	{	background-color: #f2f2f2;
	}

	.schedule { display: none; }
